# OS / system files
.DS_Store
Thumbs.db

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Python related
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments (in case)
.env
.venv
venv/
ENV/

# Cache
*.cache

# Misc
*.log
